<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">


  <!-- Segment with default selection -->
  <ion-segment (ionChange)="segmentChanged($event)" value="fever" color="primary">
    <ion-segment-button value="fever">
      <ion-label>Fever</ion-label>
    </ion-segment-button>
    <ion-segment-button value="lameness">
      <ion-label>Lameness</ion-label>
    </ion-segment-button>
    <ion-segment-button value="mastitis">
      <ion-label>Mastitis</ion-label>
    </ion-segment-button>
    <ion-segment-button value="diarrhoea">
      <ion-label>Diarrhoea</ion-label>
    </ion-segment-button>
  </ion-segment>

  <app-comp1 *ngIf="active == 'fever'"></app-comp1>

  <app-comp2 *ngIf="active == 'lameness'"></app-comp2>

  <app-comp3 *ngIf="active == 'mastitis'"></app-comp3>

  <app-comp4 *ngIf="active == 'diarrhoea'"></app-comp4>

</ion-content>