<ion-header [translucent]="true">
  <ion-toolbar color="primary">
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="ion-padding">
    <ion-card>
      <ion-card-header>
        Body Temperature
      </ion-card-header>
      <ion-card-content>
        <canvas #bodyTempCanvas></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Surrounding Temperature
      </ion-card-header>
      <ion-card-content>
        <canvas #surrTempCanvas></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Humidity
      </ion-card-header>
      <ion-card-content>
        <canvas #humidityCanvas></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        THI Readings
      </ion-card-header>
      <ion-card-content>
        <canvas #thiCanvas></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Heart Beat
      </ion-card-header>
      <ion-card-content>
        <canvas #heartCanvas></canvas>
      </ion-card-content>
    </ion-card>
  </div>
</ion-content>