  <div class="ion-padding">
    <ion-card>
      <ion-card-header>
        Body Temperature
      </ion-card-header>
      <ion-card-content>
        <canvas #bodyTempCanvas></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Surrounding Temperature
      </ion-card-header>
      <ion-card-content>
        <canvas #surrTempCanvas></canvas>
      </ion-card-content>
    </ion-card>

    <ion-card>
      <ion-card-header>
        Accelerometer
      </ion-card-header>
      <ion-card-content>
        <canvas #accCanvas></canvas>
      </ion-card-content>
    </ion-card>
    <br />
    <br />
  </div>