<div class="ion-padding">
  <ion-card>
    <ion-card-header>
      Accelerometer
    </ion-card-header>
    <ion-card-content>
      <canvas #accCanvas></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Step Count
    </ion-card-header>
    <ion-card-content>
      <canvas #stepCountCanvas></canvas>
    </ion-card-content>
  </ion-card>

  <ion-card>
    <ion-card-header>
      Sound
    </ion-card-header>
    <ion-card-content>
      <canvas #soundCanvas></canvas>
    </ion-card-content>
  </ion-card>
</div>